
html {
  font-size: 10px !important;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
}

body input:focus,
*:selection,
*:active,
*:visited,
*:target { outline: none; };

h3,
h4,
h5,
h6 { margin-bottom: 0; }

blockquote {
  font: 400 italic 1.7rem/2.4rem 'Raleway', 'Helvetica Neue', sans-serif;
  text-align: justify;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 1rem;
  border-left: 5px solid $theme-teal;
  color: #696969;
  &:before,
  &:after {
    content: open-quote;
    top: 0.5rem;
    font: normal 2.4rem/2.4rem 'Helvetica Neue', 'Raleway', sans-serif;
  }
  &:after { content: close-quote; }
}


button:hover { border: none; }

a,
a:hover {
  color: $theme-black;
  text-decoration: none;
}
  div.yelpPhoto:hover div.yelpAlphaLayer > img { color: $theme-white; }

a,
i:not(.fa),
button,
input[type='submit'],
img.cursorAction:hover { cursor: pointer; }

img.featuredImg {
  display: block;
  min-width: 50vw;
  min-height: 50vh;
  max-width: 90vw;
  max-height: 90vh;
}

hr {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.intro-logo {
  margin: 0;
  color: $theme-white;
  font: 500 4.5vh/6vh 'Oswald', 'Open Sans', 'Raleway', sans-serif;
  span { color: $theme-gray; }
}

#bckgHero {
  position: relative;
  width: 100%;
  height: 65vh;
  top: 17.5vh;
  background: #E6E6E6 url('http://goo.gl/4gsH3y') 100% / contain repeat;
  animation: 100s scroll infinite linear;
}

#bckgHero > h1.intro-logo {
  position: relative;
  width: 100vw;
  top: 22.5%;
  left: 50%;
  font: 400 10vh/10vh 'Oswald', 'Open Sans', 'Raleway', sans-serif;
  text-align: center;
  transform: translateX(-50%);
}

#app {
  position: relative;
  width: 100vw;
  top: 0;
}

#appContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 94vh;
  min-height: 700px;
  top: 6vh;
  margin: 0;
  background: $theme-white;
}

div.meetTheTeam_Container {
  position: relative;
  display: flex;
  width: 100%;
  height: 75vh;
  max-height: 300px;
  top: 57.5%;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  transform: translateY(-50%);
}

div.profileCard {
  width: 18vw;
  height: 100%;
  border-radius: 1.5rem;
  background: -webkit-linear-gradient(bottom, #8E9EAB, #F5F5F5);
  background:      -o-linear-gradient(bottom, #8E9EAB, #F5F5F5);
  background:         linear-gradient(to top, #8E9EAB, #F5F5F5);
}

div.socialShare_Container {
  position: absolute;
  display: flex;
  width: 18vw;
  height: 40%;
  bottom: 2.5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

div.socialShare_Container h4,
div.socialShare_Container h6 {
  font: bold 2.9rem/1 'Raleway', 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}

div.socialShare_Container h6 { font: inherit; }

div.socialMediaIcons {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

div.socialMediaIcons img {
  position: relative;
  height: 40px;
}

.teamProfPics {
  position: relative;
  width: 16vw;
  height: 16vw;
  top: -14vw;
  margin: auto;
  border: 2.5px ridge $theme-teal;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.25s 0s ease-out;
  transform: translateY(50%);
}

.teamProfPics > img {
  position: relative;
  width: 100%;
  min-height: 16vw;
  left: 50%;
  transition: width 2s 0.1s linear;
  transform: translateX(-50%);
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
       -o-filter: grayscale(100%);
}
    .teamProfPics:hover > img {
      -webkit-filter: grayscale(0);
         -moz-filter: grayscale(0);
          -ms-filter: grayscale(0);
           -o-filter: grayscale(0);
    }


#jobMain {
  position: relative;
  display: block;
  width: 100%;
  height: 94vh;
  min-height: 700px;
  top: 6vh;
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow: hidden;
}

.restaurantContainer .overlayBottomMargin { margin-bottom: 17.5px; }

h4.infoWindow_Header {
  display: inline;
  margin-bottom: 0;
  color: $theme-teal;
  font: 600 14px/16px 'Raleway', 'Helvetica Neue', Arial, sans-serif;
}

#placesContainer h5,
.restaurantContainer > h5,
.restaurantContainer > div:first-child {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
}

.restaurantContainer > div:first-child > h5 {
  display: inline;
  padding-left: 25px;
  font-size: 4rem;
  line-height: 5rem;
}

.AmenitiesHeader_Img {
  position: relative;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.restaurantContainer .nameRating h5 {
  width: 100%;
  margin: 0.65rem auto;
  text-align: center;
  font-size: 2rem;
  font-variant: small-caps;                 /* Candidate for possible removal depending on others` stylistic opinions */
}
  h5.text-of.expandFromCenter:first-letter {
    color: #1BA6B7;
    font-weight: 900;
    font-size: 2.15rem;
    letter-spacing: 0.1rem;
  }

h5.infoWindow_Header {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.modalInfoWindow_Pic {
  position: relative;
  width: 100%;
  height: 100%;
  left: 50%;
  margin: 5px auto;
  transform: translateX(-50%);
  overflow-x: hidden;
}

div#overlay {
  position: relative;
  width: 100%;
  min-height: 500px;              // <iframe> height
  top: 500px;                     // <iframe> height
  margin-top: -500px;             // <iframe> height
  background-color: transparent;
  z-index: 10;
}

#search-form,
#search-form-home {
  position: relative;
  display: inline-block;
  width: 85%;
  height: 100%;
  margin-bottom: 0;
  float: right;
}
#search-form-home {
  display: block;
  width: 100%;
  float: none;
}

div.box {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navLogoText {
  position: absolute;
  left: 50px;
  color: #000;
  font: 4.5vh/6vh 'Raleway', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bannerCont {
  position: fixed;
  width: 100%;
  height: 6vh;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(231deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  background:      -o-linear-gradient(231deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  background:         linear-gradient(321deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  z-index: 150;
}

.bannerCont > a {
  position: relative;
  display: inline-block;
  width: 15%;
  height: 6vh;
  float: left;
  text-align: center;
}

.footerCont {
  position: fixed;
  height: 4.5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #7A7A7A;
  z-index: 100;
}

.footerCont a { font: 400 2.25rem/4rem 'Raleway'; }

.footerCont nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.footerCont nav a { margin: auto; }

button.button-primary {
  width: 10%;
  height: 5rem;
  left: 3%;
  margin: 20px auto 1rem 25px;
  padding: 0 4px;
  font: 900 2rem/5rem 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #771DE5;
  color: #A7A5A5;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: content-box;
  transition: background 0.25s ease-out,
              color 0.25s ease-out;
}
  button.button-primary:focus { background-color: #1EAEDB; }
  button.button-primary:hover {
    border: none;
    color: #771DE5;
    background-color: #A7A5A5;
  }

.container {
  position: relative;
  display: flex;
  width: 97.5% !important;
  max-width: 2000px;
  margin: 0;
  padding-top: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  align-content: space-around;
  &-3 {
    position: relative;
    width: 65%;
    height: 100%;
    vertical-align: middle;
    white-space: nowrap;
    + button {
      position: relative;
      min-width: 15%;
      margin: 0;
      padding: 0;
      font-size: 1.8rem;
      color: $theme-white;
      transition: all 0.25s ease-in;
      &:hover {
        background: rgba(255, 255, 255, 0.89);
        color: $theme-teal;
      }
    }
    input::-webkit-input-placeholder {                // Chrome | Opera | Safari
      font: oblique 1.8rem bold Raleway, sans-serif;
      color: rgba(255, 255, 255, 0.5);
    }
    input::-moz-placeholder {                         // Firefox 19+
      font: oblique 1.8rem bold Raleway, sans-serif;
      color: rgba(255, 255, 255, 0.5);
    }
    input:-ms-input-placeholder {                     // IE 10+
      font: oblique 1.8rem bold Raleway, sans-serif;
      color: rgba(255, 255, 255, 0.5);
    }
    input:-moz-placeholder {                          // Firefox 18-
      font: oblique 1.8rem bold Raleway, sans-serif;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
.inactive { display: none; }
.container.active { display: flex; }


#search-inputs-boundary {
  position: relative;
  display: flex;
  width: 100%;
  height: 60%;
  top: 20%;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  > .form-search-inpt {
    width: 37.5%;
    height: 100%;
    max-height: 5.5rem;
    margin: 0;
    background-color: $theme-gray;
    color: $theme-white;
    font-size: 18px;
    letter-spacing: 0.35rem;
    border: none;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    &:first-child { border-radius: 5px 0 0 5px; }
    &:last-child {
      border-left: 1px inset $theme-white;
      border-radius: 0 5px 5px 0;
    }
    &.active {
      width: 70%;
      outline: none;
      background: #2B303B;
    }
    ul {
      background: inherit;
      font-size: 1.5rem;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;

      height: 0;
      opacity: 0;
      visibility: hidden;
      list-style: none inside url('../img/map-marker-glyph.svg');
    }
    .enableList {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
    li {
      margin: 0;
      padding: 0.5rem 1rem;
      font-size: 1.75rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      &:hover { background-color: $theme-gray; }
    }
  }
  input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-indent: 1rem;
    text-transform: capitalize;
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: 900;
    color: $theme-teal;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.27);
  }
}

#searchLocation,
#searchJob { text-transform: capitalize; }


.yolo {
  position: relative;
  width: 5rem;
  height: 100%;
  max-height: 5.5rem;
  margin: 0;
  padding: 0 1rem;
  border: none;
  border-left: 1px inset $theme-white;
  border-radius: 0 0.5rem 0.5rem 0;
  color: $theme-white;
  font-size: 3rem;
  background-color: hsla(0, 0%, 48%, 0.75);
  line-height: inherit;
}





#searchJob {
  -webkit-appearance: textfield;
  -webkit-transition: padding 0.25s ease-out;
  transition:         padding 0.25s ease-out;
}

h2.modalJobTitle { text-align: center; }

i.XButton {
  position: absolute;
  right: 1.5rem;
  width: 4rem;
  top: 1.5rem;
  height: 30px;
  background-color: $theme-white;
  font-size: 5rem;
  color: $theme-teal;
  line-height: 3rem;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 300;
}
  i.XButton:hover {
    cursor: pointer;
    color: #1196A5;
    -webkit-transition: all 0.10s ease-out;
    transition:         all 0.10s ease-out;
  }



/* ==========================================================================
   ================== Form Input Fields Style Declarations ==================
   ========================================================================== */
 input[type='search']::-webkit-search-decoration,
 input[type='search']::-webkit-search-cancel-button,
 input[type='search']::-webkit-search-results-button,
 input[type='search']::-webkit-search-results-decoration { display: none; }
 input[type='search'] {
   position: relative;
   display: inline-block;
   width: 50%;
   /* left: 50%; */
   margin: auto;
   box-sizing: border-box;
   /* transform: translateX(-50%); */
 }

 /* Apple Safari / Google Chrome browsers */
 input::-webkit-input-placeholder {
   font: 2rem/5rem 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
   text-indent: 1rem;
   color: #FFF;
   opacity: 0.80;
   -webkit-transition: text-indent 0.25s ease-out;
   transition:         text-indent 0.25s ease-out;
 }

 /* Firefox 18- */
 input:-moz-placeholder {
   font: 2rem/5rem 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
   text-indent: 1rem;
   color: #FFF;
   opacity: 0.80;
 }

 /* Firefox 19+ */
 input::-moz-placeholder {
   font: 2rem/5rem 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
   text-indent: 1rem;
   color: #FFF;
   opacity: 0.80;
 }

 /* Microsoft (MS) Internet Explorer (IE) */
 input:-ms-input-placeholder {
   font: 2rem/5rem 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
   text-indent: 1rem;
   color: #FFF;
   opacity: 0.80;
 }

/* Fix Chrome browser's default AutoFill yellow background */
/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #FFF !important;
  -webkit-box-shadow: inset 0 0 0 1000px #000;
  -moz-box-shadow:    inset 0 0 0 1000px #000;
  box-shadow:         inset 0 0 0 1000px #000;
  -webkit-transition: background-color 5000s 0s ease-in-out;
  transition:         background-color 5000s 0s ease-in-out;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #FFF !important;
  -webkit-box-shadow: inset 0 0 0 1000px #7A7A7A;
  -moz-box-shadow:    inset 0 0 0 1000px #7A7A7A;
  box-shadow:         inset 0 0 0 1000px #7A7A7A;

  /* Internet Explorer (IE) extraneous settings */
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  filter:     "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}


/* Mimic :hover state for non-obvious links */
/* .link-state:hover */
.link-state {
  position: relative;
  display: block;
  width: 50px;
  left: 90%;
  /* border-bottom: 1px solid #1BA6B7; */
  font-style: normal;
  text-align: center;
}



/* ==========================================================================
   ================== React-Tabs Module Style Declarations ==================
   ========================================================================== */
.ReactTabs__TabList[role='tablist'][role='tablist'] { margin: 0; }
.ReactTabs__Tab[role='tab'] {
  width: 33%;
  margin-bottom: 0;
  padding: 4px 0;
  text-align: left;
  text-indent: 1rem;
  font: 1.85rem/2.25rem 'Raleway', 'Open Sans', Arial, sans-serif;
  background: rgba(220, 220, 220, 0.58);
  border: 1px solid #C8C8C8;      /* Color: Gainsboro */
  border-radius: .5rem .5rem 0 0;
  box-sizing: border-box;
}
.ReactTabs__Tab[role='tab'][aria-selected='true'] {
  background-color: rgb(20, 164, 181);
  border-color: transparent;
}
.ReactTabs__TabList > li:last-child[aria-selected='true'] { background-color: hsl(0, 53%, 52%); }
.ReactTabs__Tab:last-child { width: 34%; }
