
/* Inline-Rendered SVG Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.map-marker-glyph {
  height: 1rem;
  fill: $theme-white;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  opacity: 1;
}

.app-logo-glyph {
  // width: 176px;
  height: 6vh;
  #bckg-hero & { height: 15vh; }
  g {
    font: 500 5vh 'Oswald';
    stroke: none;
    stroke-width: 1;
    fill: none;
    fill-rule: evenodd;
    letter-spacing: 3px;
  }
  tspan {
    &:first-child {
      fill: $theme-white;
      font-size: 7rem;
    }
    &:last-child {
      font-size: 9rem;
      fill: $theme-gray;
    }
  }
}
