
#jobInfoBody {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  min-height: 700px;
  float: right;
  background: -webkit-linear-gradient(#FFF 40%, #E9EBEE 50%);
  background:      -o-linear-gradient(#FFF 40%, #E9EBEE 50%);
  background:         linear-gradient(#FFF 40%, #E9EBEE 50%);
  box-sizing: border-box;
  overflow-y: scroll;
}


/* ==========================================================================
   =================== Yelp Restaurant Style Declarations ===================
   ========================================================================== */ 

.restaurantContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  /* min-height: 200px; */
  float: left;
  background-color: #E9EBEE;
  box-sizing: border-box;
  overflow: hidden;
}

.restaurantContainer > div:first-child {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  background: hsl(0, 53%, 52%) url('../img/bckg_hero.png') no-repeat;
  background-blend-mode: color-dodge;
  backface-visibility: initial;
  background-position: 10% 30%;
  background-attachment: scroll;
  background-origin: border-box;
  z-index: 1;
}

.restaurantContainer > div h1 {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0 1.5rem 0 0;
  float: right;
  font: normal 3.75rem/5rem 'Raleway', 'Open Sans', Arial, sans-serif;
  text-align: center;
}

p {
  margin: 0;
  /* margin: 0 33.784; */
}

div.yelpPhoto {
  position: relative;
  width: 100%;
  /* height: inherit; */
  min-height: 75px;
  max-height: 200px;
  left: 50%;
  border: 4px solid #14A4B5;
  line-height: 0;
  box-sizing: border-box;
  transform: translateX(-50%);
  background: -webkit-radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  background:    -moz-radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  background:      -o-radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  background:         radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  /* background: #14A4B5; */
}
  /*  
    div.yelpPhoto:hover:after {
      position: absolute;
      content: url(http://goo.gl/UCXx0a) '\7F  \7F';
      // content: attr(data-magnify) '\7F  \7F'; //
      width: 100%;
      height: 6rem;
      left: 0;
      bottom: 0;
      text-align: right;
      color: #FFF;
      font: bold 3rem/7rem Arial;
      background: -webkit-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0) 99%);
      background:      -o-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0) 99%);
      background:         linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0) 99%);
      // background: rgba(0, 0, 0, 0.47); //
    }
  */

  div.yelpPhoto div.yelpAlphaLayer {
    height: 0;
    transition: height 0.095s ease-out;
  }

  div.yelpPhoto:hover div.yelpAlphaLayer {
    position: absolute;
    display: block;
    width: 100%;
    height: 6rem;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0) 99%);
  }

  div.yelpPhoto:hover div.yelpAlphaLayer > img {
    position: absolute;
    height: 3rem;
    width: 2.6rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }


div.yelpPhoto > img {
  position: relative;
  min-width: 100%;
  max-width: 115%;
  min-height: 75px;
  left: 50%;
  transform: translateX(-50%);
}

div.yelpPhoto > img.fallbackImage {
  width: 146px; 
}

.restaurantLI, 
.transportationCard, 
.amenitiesCard {
  position: relative;
  display: inline-block;
  min-height: 200px;
  /* max-height: 400px; */                        /* Uncomment to disable large height-width aspect ratio images */
  margin: 1rem auto;
  padding: 0.75rem 0;
  background-color: #FFF;
  vertical-align: top;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow:         0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
  .restaurantLI:hover,
  .transportationCard:hover,
  .amenitiesCard:hover,
  .activeCard {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                        0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow:         0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                        0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }


li.restaurantLI > div {
  padding: 0 1.5rem;
}

div.amenityDistanceInMiles {
  display: inline-block;
  width: 50%;
  float: left;
}

li.restaurantLI > a {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.expandFromCenter:after {
  position: relative;
  display: block;
  content: '';
  width: 0;
  height: 1px;
  margin: auto;
  background: transparent;
  transition: width 0.5s ease, 
              background-color 0.5s ease;
}
  .expandFromCenter:hover:after {
    width: 100%;
    background: #1BA6B7;
  }


.GPlacesList {
  background-color: #E9EBEE;
}

p.noResultsMsg {
  width: 100%;
  font-size: 3rem;
  text-align: center;
}

#jobInfoBody > div:first-child,
.transportationContent, 
.amenitiesContent {
  padding: 0 0 1rem 2rem;
}

.nameRating > h5 {
  text-align: center;
  font-weight: 500;
}

.nameRating > a {
  display: block;
  width: 100%;
  /* max-height: 225px; */
}

#jobInfoBody div.jobInfoBottomBlock {
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  min-height: 500px;
  bottom: 0;
}

.job-detail h3 {
  width: 100%;
  margin: 2rem auto;
  font-weight: bolder;
  text-align: center;
}

.job-detail h3 a {
  text-decoration: none;
}

.job-detail blockquote a {
  text-decoration: none;
  color: #222;
}

.YelpRestaurantAddress {
  margin-bottom: 5px;
  font: 1.25rem/1.50rem 'Raleway', sans-serif;
}

div.YelpRating_Div {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
  div.YelpRating_Div > img.YelpRatingStars {
    position: relative;
    display: inline-block;
    height: 1.25rem;
    top: 0.375rem;
    float: left;
  }

  div.YelpRating_Div > p.numRestaurantReviews {
    position: relative;
    display: inline-block;
    float: right;
    font-size: 1.25rem;
    line-height: 2rem;
  }


a.YelpPhoneNo {
  color: #222;
  font: lighter 1.35rem Courier, monospace, serif;
  word-spacing: -0.5rem;
}

a.YelpPhoneNo > em {
  font-style: normal;
}

.yelpDescription div.blockDistanceContainer {
  display: inline-block;
  height: 1.5rem;
  float: right;
}

.yelpDescription div.distanceBlock {
  position: relative;
  display: inline-block;
  height: 1rem; 
  width: 1rem; 
  margin: 1.25px;
  background: #BEBEBE;
}
.job-detail h3 a {
  color: #696969;
}

.job-detail blockquote a {
  color: #222;
}

.restaurantContainer > div:first-child a:hover > i {
  text-shadow: 0 0 6px #FFF;
}

div.restaurantContainer:last-child div.overlay {

}

div.listItemsContainer {
  height: 90%;
  margin-bottom: 25px;
}

/* .restaurantContainer div.overlay */
.react-tabs div.overlay,
div.restaurantContainer:last-child div.listItemsContainer {
  height: 90%;
  margin-bottom: 25px;
  background-color: #E9EBEE;
  overflow-x: hidden;
  overflow-y: overlay;
}


/* ==========================================================================
   ===================== Yelp Modals Style Declarations =====================
   ========================================================================== */ 

div.yelpModalContainer > div {
  position: absolute;
  width: 100%;
  height: 6rem;
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
}

div.yelpModalContainer a {
  color: inherit;
  font-size: 2rem;
}

div.yelpRestaurantTitleBar a {
  position: relative;
  font: lighter 3.5rem/6rem 'Raleway', 'Helvetica Neue', sans-serif;
  padding-left: 10px;
}
  div.yelpRestaurantTitleBar a:hover {
    /* text-decoration: underline; */
  }
  

div.modalToolbar {
  display: flex;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
  div.modalToolbar a:hover:after {
    position: absolute;
    content: url(http://goo.gl/oGGvsL);
    height: 1.5rem;
    padding: 0 10px;
  }
  div.modalToolbar a:last-child:hover:after {
    content: url(http://goo.gl/Zwu0Ez);
  }
