/*
html {
  font-size: 10px;
  line-height: 1.3;

  @media (max-width: 800px) {
    font-size: 8px;
  }

  @media (max-width: 700px) {
    font-size: 7px;
    line-height: 1.4;
  }
}*/


@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 7px;
  }
}

@media only screen
  and (max-width: 660px) {

/*  html {
    font-size: 7px;
  }*/

  div#bckgHero {
    height: 100vh;
    top: 0;
  }

  #appContainer { 
    height: auto;
    background: transparent;
  }

  form#searchForm { }

  #jobMain {
    display: flex;
    height: auto;
    padding-bottom: 25px;
    flex-direction: column;
    transform: none;
  }

  #jobResultsPane,
  #jobInfoBody {
    position: relative;
    display: block;
    width: 88vw;
    top: 4vh;
    margin: 0 auto;
    background: #FFF;
    -webkit-box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.37);
    box-shadow:         0 4px 8px 1.5px rgba(0, 0, 0, 0.37);
  }

  div#jobResultsPane {
    height: 60vh;
  }

  #mapsContainer {
    height: 30vh;
  }
    #mapsContainer:hover {
      cursor: pointer;
    }

  #searchForm {
    position: relative;
    display: block;
    /* width: 100%; */
    /* top: 6vh; */
  }

  #jobsContainer::after {
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 500px;
    bottom: 0;
    flex-direction: column;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  .container-3 input.formSearchInpt{
    font-size: 1rem;
    letter-spacing: 0.35rem;
    text-indent: 0;
  }
  
  .container-3 + button {
    background: #14A4B5;
    font-size: 1rem;
  }
    .container-3 + button:hover {
      background: #FFF;
      color: #14A4B5;
    } 

}

