@media screen and (max-width: 480px) {
  .mobileMarginTop10 {
    margin-top: 10px 0px;
  }
  .mobileHeightUnset {
    height: unset !important;
  }
  .mobilePaddingLeftRight0 {
    padding: 0px 0px !important;
  }
}
