/*
html {
  font-size: 10px;
  line-height: 1.3;

  @media (max-width: 800px) {
    font-size: 8px;
  }

  @media (max-width: 700px) {
    font-size: 7px;
    line-height: 1.4;
  }
}*/


@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 7px;
  }
}

@media only screen
  and (max-width: 660px) {

/*  
  html {
    font-size: 7px;
  }
*/

  div#bckgHero {
    height: 100vh;
    top: 0;
  }

  #appContainer { 
    height: auto;
    background: transparent;
  }

  form#searchForm {
    width: 100vw;
  }

  div.box {
    display: block;
  }

  div.container-3 {
    width: 100vw;
  }

  div.container-3 + button#jobSearchSubmitBtn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  #jobMain {
    display: flex;
    height: auto;
    padding-bottom: 25px;
    flex-direction: column;
    transform: none;
  }

  #jobResultsPane,
  #jobInfoBody {
    position: relative;
    display: block;
    width: 88vw;
    min-height: 0;
    top: 4vh;
    margin: 0 auto;
    background: #FFF;
    -webkit-box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.37);
    box-shadow:         0 4px 8px 1.5px rgba(0, 0, 0, 0.37);
  }

  div#jobResultsPane {
    height: 60vh;
  }

  #mapsContainer {
    /* height: 30vh; */
  }
    #mapsContainer:hover {
      cursor: pointer;
    }

  #searchForm {
    position: relative;
    display: block;
    /* width: 100%; */
    /* top: 6vh; */
  }

  #jobsContainer > b {
    height: 10%;
  }
    #jobsContainer::after {
    }


  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 500px;
    bottom: 0;
    flex-direction: column;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  .restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    min-height: 0;
    /* height: 60vh; */
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  .container-3 input.formSearchInpt {
    font-size: 2.5rem;
    letter-spacing: 0.35rem;
    text-indent: 0;
  }
  
  #searchInputsBoundary *:focus {
    width: 45%;
    background: #2B303B;
    padding: 6px 10px;
  }

  .container-3 + button {
    background: #14A4B5;
    font-size: 1rem;
  }
    .container-3 + button:hover {
      background: #FFF;
      color: #14A4B5;
    } 

  
  div.noResultsShown:before {
    position: absolute;
    content: '';
    width: auto;
    height: 85%;
    left: 50%;
    top: 50%;
    background-image: url(../img/frowny-face.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  h4.noResultsShown {
    left: 50%;
    top: 50%;
    font-size: 6rem;
    transform: translate(-50%, -50%) rotate(-25deg);
  }

  div.yelpPhoto {
    max-height: 100px;
  }
  
  .yelpPhoto img {
    min-height: 85px;
    max-height: 150px;
  }


}

