
html {
  /* height: 2000px; */
  background-color: #F5F5F5;
}

body {
  position: relative;
  width: 100%;
}

hr {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/*
#app {
  position: relative;
  width: 100vw;
  top: 0;
}
*/

#appContainer {
  position: relative;
  display: block;
  width: 96vw;
  height: 88vh;
  min-height: 700px;
  top: 9vh;
  margin: 0 auto;
  background: #FFF;
  overflow: hidden;
  /* box-sizing: border-box; */     /* Potential candidate for inclusion at later point */
}

.appCols {  }

#jobMain {
  position: relative;
  height: 96%;
  min-height: 700px;
  top: 50%;
  padding: 0 25px;
  transform: translateY(-50%);
}

#jobResultsPane {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 100%;
  min-height: 700px;
  float: left;
  border: 4px solid red;            /* To be removed in future commit */
  box-sizing: border-box;
  background: #ECECEC;
  overflow: hidden;
}

#jobInfoBody {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  min-height: 700px;
  float: right;
  border: 4px solid blue;           /* To be removed in future commit */
  box-sizing: border-box;
}

#jobsContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 66%;
}

#chartContainer {
  position: relative;
  display: inline-block;
  width: 40%;
  min-height: 200px;
  float: right;
  background: -webkit-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  background:      -o-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  background:         linear-gradient(299deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
}

#mapsContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 34%;
  /* pointer-events: none; */
  border: 3px solid transparent;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.2), 0 0 14px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

div#overlay {
  position: relative; 
  width: 100%;
  min-height: 500px;              /* <iframe> height */
  top: 500px;                     /* <iframe> height */
  margin-top: -500px;             /* <iframe> height */
  background: transparent; 
  z-index: 10;
}

.ReactModal__Overlay {
  z-index: 150;
  background: rgba(41, 37, 37, 0.59);
}

#headSection1 {  }

#searchForm { 
  position: relative;
  display: inline-block;
  width: 75%;
  height: 100%;
  margin-bottom: 0;
  float: right;
}

/*#searchForm:focus .input {

}*/

div.box {
  position: relative; 
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navLogoText {
  position: absolute;
  left: 50px;
  font: 60px/75px "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
}

.bannerCont {
  position: fixed;
  width: 100%;
  height: 6vh;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(231deg, rgb(95, 20, 181) 15%, #771DE5 34%, rgb(169, 115, 231) 82%);
  background:      -o-linear-gradient(231deg, rgb(95, 20, 181) 15%, #771DE5 34%, rgb(169, 115, 231) 82%);
  background:         linear-gradient(321deg, rgb(95, 20, 181) 15%, #771DE5 34%, rgb(169, 115, 231) 82%);
  box-shadow: 0 5px 4px 0.5px #ADADAD;
  z-index: 100;
}

svg.rd3-chart {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
}

.footerCont {
  position: fixed;
  width: 100%;
  height: 65px;
  bottom: 0;
  left: 0;
  background: #7A7A7A;
  z-index: 100;
}


/*
div.jobsPaneLeft > b {
  position: relative;
  display: block;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  background: -webkit-linear-gradient(231deg, rgb(95, 20, 181) 5%, #771DE5 14%, rgb(169, 115, 231) 52%);
  background:      -o-linear-gradient(231deg, rgb(95, 20, 181) 5%, #771DE5 14%, rgb(169, 115, 231) 52%);
  background:         linear-gradient(321deg, rgb(95, 20, 181) 5%, #771DE5 14%, rgb(169, 115, 231) 52%);
  /* background: #A973E7; * /
}

ul.jobsList {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 36px;
  margin: 0;
  background-color: #ECECEC;
  overflow-x: hidden;
  overflow-y: overlay;
  /* overflow-y: scroll; * /
}

li.jobLI,
ul.jobsList li {
  position: relative;
  display: list-item;
  width: 100%;
  max-height: 60px;
  margin-bottom: 6px;
  padding: 4px 10px 0 20px;
  list-style-type: none;
  box-sizing: border-box;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); * /
  /* box-shadow: 0 4px 0.5px rgba(172, 172, 172, 0.85); * /
  background-color: #ECECEC;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1.0);       /* box-shadow, border-left * /
  overflow: hidden;
}

ul.jobsList li:hover {
  background-color: #F1F1F1;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-left: 5px solid #771DE5;
}

li.jobLI h2,
h2.jobListingTitle {
  margin: 0 auto;
  max-height: 60px;
  overflow: hidden;
  color: #6A18CC;
  font: small-caps lighter 24px/28px "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.05rem;
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li.jobLi h6 {
  font: bold 12px/12px Arial, sans-serif;
}

div.jobLI_MetaInfo {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  bottom: -4px;
  margin: 0;
}

.jobLI_MetaInfo h6,
.jobLI_MetaInfo i {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 0;
  float: left;
}

.jobLI_MetaInfo i {
  right: 10px;
  float: right;
  color: #696969;
  text-align: right;
  font-size: 11px;
  line-height: 20px
}
button.button-primary {
  width: 10%;
  height: 50px;
  left: 3%;
  margin: 20px auto;
  margin-left: 25px;
  margin-bottom: 1rem;
  padding: 0px 4px;
  font: 900 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #771DE5;
  color: #A7A5A5;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: content-box;
  transition: background 0.25s ease-out, color 0.25s ease-out;
}

button.button-primary:focus {
  background-color: #1EAEDB;
}

button.button-primary:hover {
  color: #771DE5;
  background-color: #A7A5A5;
}
<<<<<<< HEAD
* /

.container-3 {
  position: relative;
  width: 65%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-3 + button {
  position: relative;
  width: 15%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #FFF;
  transition: all 0.25s ease-in;              /* color, background * /
}

.container-3 + button:hover {
  background: rgba(255, 255, 255, 0.89);
  color: rgba(95, 20, 181, 1);
  /* box-shadow: inset 0 -5px 8px 1px rgba(255, 255, 255, 0.55); * /
}
/*
#searchInputsBoundary {
  position: relative;
  display: flex;
  width: 100%;
  height: 60%;
  top: 20%;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}


.container-3 input.formSearchInpt {
  width: 25%;
  height: 100%;
  margin: 0;
  background: #7A7A7A;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.35rem;
  text-indent: 50px;
  border: none;
  -webkit-border-radius: 5px 0 0 5px;
     -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  transition: all 0.25s ease-in;
}

.container-3 input.formSearchInpt:last-child {
  border-left: 2.5px solid #FFF;
  -webkit-border-radius: 0 5px 5px 0;
     -moz-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
  box-sizing: border-box;
}
#searchInputsBoundary *:focus ~ *, 
#searchInputsBoundary *:focus, 
#searchInputsBoundary * ~ *:focus, 
#searchInputsBoundary *:focus + * {
  /* padding: 30px 0; * /
  width: 50%;
  background: #2B303B;
}

.container-3 input:focus::-webkit-input-placeholder {
  font-size: 18px;
}

.container-3 input:focus::-webkit-input-placeholder {
   font-size: 12px;
   text-indent: 75%; 
}

.container-3 span {
  position: absolute;
  left: 26.5%;
  margin: 0 10px;
  line-height: 4.5vh;
  /* font-size: 2.5rem; * /
  z-index: 10;
  color: #FFF;
  transition: all 0.25s ease-in;                    /* left, font-size * /
}

.container-3 input.formSearchInpt:focus + span.icon {
  position: absolute;
  left: 1.5%;
  margin: 0 14px;
  color: #FFF;
  line-height: 60px;
  font-size: 3rem;
  z-index: 10;
}

#search {
  -webkit-appearance: textfield;
  transition: padding 0.25s ease-out;
}

input[type='search'] {
  position: relative;
  display: inline-block;
  width: 50%;
  /* left: 50%; * /
  margin: auto;
  /* transform: translateX(-50%); * /
  box-sizing: border-box;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-input-placeholder {                  /* Apple Safari / Google Chrome browsers * /
   font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
   text-indent: 20px;
   color: #FFF;
   opacity: 0.80;
   transition: text-indent 0.25s ease-out;
}
input:-moz-placeholder {                            /* Firefox 18- * /
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}
input::-moz-placeholder {                           /* Firefox 19+ * /
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}
input:-ms-input-placeholder {                       /* Microsoft (MS) Internet Explorer (IE) * /
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80; 
}
*/

h2.modalJobTitle {
  text-align: center;
}

i.XButton {
  position: absolute;
  right: 15px;
  width: 40px;
  top: 15px;
  height: 30px;
  background: white;
  font-size: 50px;
  color: #771DE5;
  line-height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  /* border: 2px solid #771de5; */
}

i.XButton:hover {
  cursor: pointer;
}

/* Job list style */
ul.job-list {
  list-style: none;
}
.job-list li {
  border-top: 1px dashed #ccc;
  cursor: pointer;
}

.job-list li:last-child {
  border-bottom: 1px dashed #ccc;
}

.job-list li p {
  margin: 1em 0;
}
/* End job list style */

@media only screen
  and (max-width: 700px) {

  #appContainer { 
    height: auto;
    background: transparent;
  }

  #jobMain {
    display: flex;
    flex-direction: column;
    transform: none;
  }

  #jobResultsPane,
  #jobInfoBody {
    position: relative;
    display: block;
    width: 88vw;
    max-height: 300px;
    margin: 25px 0;
    background: #FFF;
    box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.37);
  }

}
