
html {
  background-color: #F5F5F5;
}

body {
  position: relative;
  width: 100%;
}

hr {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

a:hover {
  color: #000;
}

#bckgHero {
  position: relative;
  width: 100%;
  height: 65vh;
  top: 10vh;
  background: #E6E6E6 url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
  animation: 100s scroll infinite linear;
}

@-webkit-keyframes MyAnimation {
  100% {
    background-position:0px -3000px;
  }
}

@keyframes scroll {
  100% {
    background-position:0px -3000px;
  }
}

#app {
  position: relative;
  width: 100vw;
  top: 0;
}

#appContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 94vh;
  min-height: 700px;
  top: 6vh;
  margin: 0;
  background: #FFF;
}

.appCols {  }

#jobMain {
  position: relative;
  display: block;
  width: 100%;
  height: 94vh;
  min-height: 700px;
  top: 6vh;
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow: hidden;
}

#jobResultsPane {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 100%;
  min-height: 700px;
  float: left;
  box-sizing: border-box;
  background: #ECECEC;
  overflow: hidden;
  box-shadow: 5px 0 12.5px 0.5px #ADADAD;
  z-index: 100;
}

#jobInfoBody {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  min-height: 700px;
  float: right;
  box-sizing: border-box;
  overflow-y: scroll;
}

#jobsContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 66%;
}

  #jobsContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 15%;
    max-height: 50px;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
    background:      -o-linear-gradient(bottom, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
    background:         linear-gradient(to top, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
  }

#jobsContainer b > i {
  margin: auto 6px;
  padding: 0 6px;
  outline: 1px solid #FFF;
  font-style: normal;
  font-stretch: semi-expanded;
  text-indent: 5px;
  text-transform: capitalize;
  /* color: rgb(0, 0, 0); */
  /* text-decoration: underline overline; */
}

#chartContainer {
  position: relative;
  display: inline-block;
  width: 40%;
  min-height: 200px;
  float: right;
  background: -webkit-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  background:      -o-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  background:         linear-gradient(299deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
}

#jobResultsPane > div:first-child {
  position: relative;
  display: block;
  width: 100%;
  height: 34%;
  box-sizing: border-box;
  /* box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.2), 0 0 14px 2px rgba(0, 0, 0, 0.2); */
  /* pointer-events: none; */
}

#mapsContainer {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

#mapsContainer + b {
  position: relative;
  display: block;
  width: 100%;
  height: 4%;
}

h4.infoWindow_Header {
  display: inline;
  margin-bottom: 0;
  font: 600 14px/16px "Raleway", "Helvetica Neue", Arial, sans-serif;
  color: #14A4B5;
}

h5.infoWindow_Header {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

div#overlay {
  position: relative; 
  width: 100%;
  min-height: 500px;              /* <iframe> height */
  top: 500px;                     /* <iframe> height */
  margin-top: -500px;             /* <iframe> height */
  background: transparent; 
  z-index: 10;
}

.ReactModal__Overlay {
  z-index: 150;
  background: rgba(41, 37, 37, 0.59);
}

#headSection1 {  }

#searchForm { 
  position: relative;
  display: inline-block;
  width: 75%;
  height: 100%;
  margin-bottom: 0;
  float: right;
}

div.box {
  position: relative; 
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navLogoText {
  position: absolute;
  left: 50px;
  font: 40px/55px "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
  color: #000;
}

.bannerCont {
  position: fixed;
  width: 100%;
  height: 6vh;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgba(20,164,181,0.75) 84%, rgba(20,164,181,0.45) 160%);
  background:      -o-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgba(20,164,181,0.75) 84%, rgba(20,164,181,0.45) 160%);
  background:         linear-gradient(321deg, rgba(20,164,181,1) 15%, rgba(20,164,181,0.75) 84%, rgba(20,164,181,0.45) 160%);
  box-shadow: 0 5px 4px 0.5px #ADADAD;
  z-index: 150;
}

svg.rd3-chart {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
}

.footerCont {
  position: fixed;
  width: 100%;
  height: 65px;
  bottom: 0;
  left: 0;
  background: #7A7A7A;
  z-index: 100;
}

#jobsContainer > b {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  padding: 4px 0;
  /* font-variant: unicase; */
  text-align: left;
  text-indent: 15px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 36px;
  color: #FFF;
  background: -webkit-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
  background:      -o-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
  background:         linear-gradient(321deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
}

#jobsContainer > div {
  height: 90%;
  overflow-y: overlay;
}

ul.jobsList {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ECECEC;
  overflow-x: hidden;
  overflow-y: overlay;
}

ul.jobsList > div:last-child {
    margin-bottom: 17.5px;
}

ul.jobsList > div.noResultsShown {
  margin-bottom: 0;
}

li.jobLI,
ul.jobsList li {
  position: relative;
  display: list-item;
  width: 100%;
  max-height: 60px;
  margin-bottom: 6px;
  padding: 4px 10px 0 10px;
  list-style-type: none;
  box-sizing: border-box;
  background-color: #ECECEC;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1.0);       /* box-shadow, border-left */
  overflow: hidden;
}

ul.jobsList li:hover,
li.active.jobLI,
ul.jobsList.activeJobLI {
  background-color: #F1F1F1;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-left: 12.5px solid #14A4B5;
}

li.jobLI h2,
h2.jobListingTitle {
  margin: 0 auto;
  max-height: 60px;
  overflow: hidden;
  color: #14A4B5;
  font: 24px/28px "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.05rem;
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li.jobLi h6 {
  font: bold 12px/12px Arial, sans-serif;
}

div.jobLI_MetaInfo {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  bottom: -2px;
  margin: 0;
}

.jobLI_MetaInfo h6,
.jobLI_MetaInfo i {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 0;
  float: left;
}

.jobLI_MetaInfo i {
  right: 10px;
  float: right;
  color: #696969;
  text-align: right;
  font-size: 11px;
  line-height: 20px
}

button.button-primary {
  width: 10%;
  height: 50px;
  left: 3%;
  margin: 20px auto;
  margin-left: 25px;
  margin-bottom: 1rem;
  padding: 0px 4px;
  font: 900 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #771DE5;
  color: #A7A5A5;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: content-box;
  transition: background 0.25s ease-out, color 0.25s ease-out;
}

button.button-primary:focus {
  background-color: #1EAEDB;
}

button.button-primary:hover {
  color: #771DE5;
  background-color: #A7A5A5;
}

.container-3 {
  position: relative;
  width: 65%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-3 + button {
  position: relative;
  width: 15%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #FFF;
  transition: all 0.25s ease-in;              /* color, background */
}

.container-3 + button:hover {
  background: rgba(255, 255, 255, 0.89);
  color: #14A4B5;
  /* box-shadow: inset 0 -5px 8px 1px rgba(255, 255, 255, 0.55); */
}
  
#searchInputsBoundary {
  position: relative;
  display: flex;
  width: 100%;
  height: 60%;
  top: 20%;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.container-3 input.formSearchInpt {
  width: 40%;
  height: 100%;
  max-height: 55px;
  margin: 0;
  background: #7A7A7A;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.35rem;
  border: none;
  -webkit-border-radius: 5px 0 0 5px;
     -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  transition: all 0.25s ease-in;
}

/* Fix chrome yellow autofill */
input:-webkit-autofill {
  -webkit-text-fill-color: #FFF !important;
  -webkit-box-shadow: 0 0 0px 1000px #7A7A7A inset;
}

/* Mimic hover state for non obvious links */
.link-state:hover {
  border-bottom: 1px solid #1ba6b7;
}

.container-3 input.formSearchInpt:last-child {
  border-left: 0.5px solid #FFF;
  -webkit-border-radius: 0 5px 5px 0;
     -moz-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
  box-sizing: border-box;
}

/* #searchForm:focus .input {} */
#searchInputsBoundary *:focus ~ *, 
#searchInputsBoundary *:focus, 
#searchInputsBoundary * ~ *:focus, 
#searchInputsBoundary *:focus + * {
  /* padding: 30px 0; */
  width: 50%;
  background: #2B303B;
}

.container-3 input:focus::-webkit-input-placeholder {
  font-size: 18px;
}

.container-3 input:focus::-webkit-input-placeholder {
   font-size: 12px;
   text-indent: 75%; 
}

.container-3 span {
  position: absolute;
  left: 26.5%;
  margin: 0 10px;
  line-height: 4.5vh;
  /* font-size: 2.5rem; */
  z-index: 10;
  color: #FFF;
  transition: all 0.25s ease-in;                    /* left, font-size */
}

.container-3 input.formSearchInpt:focus + span.icon {
  position: absolute;
  left: 1.5%;
  margin: 0 14px;
  color: #FFF;
  line-height: 60px;
  font-size: 3rem;
  z-index: 10;
}

div.noResultsShown {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

  div.noResultsShown::before {
    position: absolute;
    width: 125%;
    height: 100%;
    background-image: url("../img/frowny_face-white.png");
    background-size: 75% auto;
    right: -35%;
    top: 85%;
    background-repeat: no-repeat;
    content: "";
    transform: translateY(-50%);
  }

h4.noResultsShown {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 25%;
  overflow: hidden;
  left: -5%;
  line-height: 100px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  transform: translateY(-50%) rotate(-32deg);
}

#search {
  -webkit-appearance: textfield;
  transition: padding 0.25s ease-out;
}

input[type='search'] {
  position: relative;
  display: inline-block;
  width: 50%;
  /* left: 50%; */
  margin: auto;
  /* transform: translateX(-50%); */
  box-sizing: border-box;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-input-placeholder {                  /* Apple Safari / Google Chrome browsers */
   font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
   text-indent: 20px;
   color: #FFF;
   opacity: 0.80;
   transition: text-indent 0.25s ease-out;
}
input:-moz-placeholder {                            /* Firefox 18- */
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}
input::-moz-placeholder {                           /* Firefox 19+ */
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}
input:-ms-input-placeholder {                       /* Microsoft (MS) Internet Explorer (IE) */
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80; 
}

h2.modalJobTitle {
  text-align: center;
}

i.XButton {
  position: absolute;
  right: 15px;
  width: 40px;
  top: 15px;
  height: 30px;
  background: white;
  font-size: 50px;
  color: #14A4B5;
  line-height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  /* border: 2px solid #14A4B5; */
}

i.XButton:hover {
  cursor: pointer;
}


/*  *********************************************
    *********************************************
    ********************************************* */  


#restaurantContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}

#restaurantContainer > div {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  /*background: hsl(0, 53%, 52%) url("../img/bckg_hero.png") no-repeat;*/
  background-blend-mode: color-dodge;
  backface-visibility: initial;
  background-position: 10% 30%;
  background-attachment: scroll;
  background-origin: border-box;
  z-index: 1;
}

#restaurantContainer > div:first-child a {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 5%;
  float: left;
}

a {
  color: black;
  text-decoration: none;
}

/*#restaurantContainer > div a img {
  position: absolute;
  display: none;
  height: 85%;
  left: 50%;
  top: 7.5%;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
  box-sizing: border-box;
}*/

#restaurantContainer > div h1 {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0 1.5rem 0 0;
  float: right;
  font: normal 3.75rem/5rem "Raleway", Arial, sans-serif;
  text-align: center;
}

p {
  margin-top: 33.784;
  margin-bottom: 0px;
  margin-top: 33.784;
}

img.yelpPhoto {
  position: relative;
  width: 90%;
  max-height: 175px;
  left: 50%;
  top: 2.5%;
  transform: translateX(-50%);
}

#restaurantContainer div.overlay {
  height: 90%;
  overflow-x: hidden;
  overflow-y: overlay;
  background-color: #E9EBEE;
}

.restaurantLI {
  position: relative;
  display: inline-block;  
  height: 265px;
  width: 265px;
  margin: 5px;
  background-color: white;
}

li.restaurantLI > a {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}


#jobInfoBody > div:first-child {
  padding-left: 20px;
}

/* h5, */
.nameRating > h5 {
  text-align: center;
  font-weight: 500;
}

.nameRating > a {
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  display: block;
  width: 100%;
  overflow-x: hidden;
  text-decoration: none;
}

#jobInfoBody div.jobInfoBottomBlock {
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  min-height: 500px;
  bottom: 0;
  /*background: red;*/                  /* To be removed in a future commit */
}

.job-detail h3 a {
  text-decoration: none;
}

.job-detail blockquote a {
  text-decoration: none;
  color: #222;
}

.fa-yelp {
  color: #af0606;
}

.fa-bus {
  color: #00f;
}

/*  *********************************************
    *********************************************
    ********************************************* */  


@media only screen
  and (max-width: 700px) {

  #appContainer { 
    height: auto;
    background: transparent;
  }

  #jobMain {
    display: flex;
    height: auto;
    flex-direction: column;
    transform: none;
  }

  #jobResultsPane,
  #jobInfoBody {
    position: relative;
    display: block;
    width: 88vw;
    top: 4vh;
    margin: 25px auto;
    background: #FFF;
    box-shadow: 0 4px 8px 1.5px rgba(0, 0, 0, 0.37);
  }

  div#jobResultsPane {
    height: 60vh;
  }

  #mapsContainer {
    height: 30vh;
  }
    #mapsContainer:hover {
      cursor: pointer;
    }

  #searchForm {
    position: relative;
    display: block;
    /* width: 100%; */
    /* top: 6vh; */
  }

  #jobsContainer::after {
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  #jobInfoBody div.jobInfoBottomBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    bottom: 0;
  }

  #restaurantContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    /* float: left; */
    box-sizing: border-box;
    overflow: scroll;
  }

  .container-3 input.formSearchInpt{
    font-size: 1rem;
    letter-spacing: 0.35rem;
    text-indent: 0;
  }
  
  .container-3 + button {
    background: #14A4B5;
    font-size: 1rem;
  }
    .container-3 + button:hover {
      background: #FFF;
      color: #14A4B5;
    } 

}


