
html {
  height: 2000px;
  background-color: #F5F5F5;
}

body {
  position: relative;
  width: 100%;
  height: 3000px
}

#appContainer {
  position: relative;
  display: block;
  width: 90%;
  min-height: 600px;
  margin: 200px auto 50px auto;
  background: #FFF;
}

.appCols {
  /* width: 100%; */
  /* min-height: 500px; */
}

#jobInfoBody {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 450px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

#jobsContainer {
  position: relative;
  display: inline-block;
  width: 40%;
  min-height: 200px;
  /* margin: 15px 50px; */
  float: left;
}

#chartContainer {
  position: relative;
  display: inline-block;
  width: 40%;
  min-height: 200px;
  float: right;
  background: linear-gradient(299deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  background: -webkit-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  background: -o-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  background: linear-gradient(299deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
}

#mapsContainer {
  position: relative;
  display: block;
  width: 90%;
  height: 500px;
  margin: auto;
  pointer-events: none; 
  border: 3px solid transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

div#overlay {
  position: relative; 
  width: 100%;
  min-height: 500px;              /* your iframe height */
  top: 500px;                     /* your iframe height */
  margin-top: -500px;             /* your iframe height */
  background: transparent; 
  z-index: 10;
}

#headSection1 {
}

#searchForm { 
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 0;
}

div.box {
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*ul.jobsUL {
  position: relative;
  display: inline-block;
  width: 50%;
  min-height: 350px;
  float: left;
  width: 100%;
  margin: 20px auto;
}*/

li.jobLI {
  position: relative;
  display: list-item;
  width: 100%;
  min-height: 65px;
  margin: 20px 0;
  margin-bottom: 2rem; 
  list-style-type: none;
  /* border: solid 0.5px DimGray; */
  box-shadow: 0 4px 0.5px rgba(172, 172, 172, 0.85);
  background-color: Silver;
}

li.jobLI h2,
h2.jobListingTitle {
  line-height: 46px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  margin: 0 auto;
}

.navLogoText {
  position: absolute;
  left: 50px;
  font: 90px/125px "Open Sans", Helvetica, Raleway, Arial;
}

.bannerCont {
  position: fixed;
  width: 100%;
  height: 125px;
  top: 0;
  left: 0;
  background: linear-gradient(321deg, rgb(95, 20, 181) 15%, #771DE5 34%, rgb(169, 115, 231) 82%);
  background: -webkit-linear-gradient(231deg, rgb(95, 20, 181) 15%, #771DE5 34%, rgb(169, 115, 231) 82%);
  background: -o-linear-gradient(231deg, rgb(95, 20, 181) 15%, #771DE5 34%, rgb(169, 115, 231) 82%);
  background: linear-gradient(321deg, rgb(95, 20, 181) 15%, #771DE5 34%, rgb(169, 115, 231) 82%);
  /* background: #771DE5; */
  /* background: #F321AD; */
  box-shadow: 0 5px 4px 0.5px #ADADAD;
  z-index: 100;
}

svg.rd3-chart {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
}

.footerCont {
  position: fixed;
  width: 100%;
  height: 65px;
  bottom: 0;
  left: 0;
  background: #7A7A7A;
  z-index: 100;
}

/*div.jobsPaneLeft {
  display: inline-block;
  width: 35%;
  margin: 5% auto;
  margin-left: 25px;
}*/

div.jobsPaneLeft b {
  position: relative;
  display: block;
  width: 100%;
  height: 24px;
  bottom: -20px;
  text-align: center;
  font-size: 24px;
  line-height: 0;
}

ul.jobsList {
  width: 100%;
}

ul.jobsList li {  
  padding: 20px;
  background-color: #ECECEC;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  /* box-shadow: 0 0 2px 0 #A7A5A5; */
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1.0);       /* box-shadow, border-left */
  margin-bottom: 2rem; 
  list-style-type: none;
}

ul.jobsList li:hover {
  background-color: #F1F1F1;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 5px 5px #8D8D8D; */
  border-left: 5px solid #771DE5;
}

button.button-primary {
  /* position: absolute; */
  width: 10%;
  height: 50px;
  left: 3%;
  margin: 20px auto;
  margin-left: 25px;
  margin-bottom: 1rem;
  padding: 0px 4px;
  font: 900 20px/50px Raleway;
  /* transform: translateX(-50%); */
  background-color: #771DE5;
  /* background-color: #33C3F0; */
  /* background-color: #FFF; */
  color: #A7A5A5;
  /* border: 1px solid #D1D1D1; */
  border-radius: 4px;
  box-shadow: none;
  box-sizing: content-box;
  transition: background 0.25s ease-out, color 0.25s ease-out;
}

button.button-primary:focus {
  background-color: #1EAEDB;
}

button.button-primary:hover {
  color: #771DE5;
  background-color: #A7A5A5;
}

.container-3 {
  position: relative;
  width: 70%;
  height: 45px;
  margin: auto;
  margin-top: 20px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-3 input#search {
  width: 100%;
  height: 50px;
  background: #7A7A7A;
  /* background: #2B303B; */
  padding: 0;
  border: none;
  font-size: 25px;
  /*float: left;*/
  padding-left: 45px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  color: #FFF;
  letter-spacing: 0.35rem;
  text-indent: 50px;
  transition: background-color 0.25s ease-in, padding 0.25s ease-in;
}

.container-3 input#search:focus {
  padding: 30px 0;
  background: #2B303B;
  /* background-color: #F1F1F1; */
}

.container-3 input#search:focus::-webkit-input-placeholder {
  text-indent: 85%;
}

.container-3 span {
  position: absolute;
  margin: 0 14px;
  line-height: 50px;
  font-size: 2.5rem;
  z-index: 10;
  color: #FFF;
  transition: font-size 0.35s ease-in;
}

.container-3 input#search:focus + span.icon {
  position: absolute;
  margin: 0 14px;
  line-height: 60px;
  font-size: 3rem;
  z-index: 10;
  color: #FFF;
}

#search {
  -webkit-appearance: textfield;
  transition: padding 0.25s ease-out;
}

input[type="search"] {
  position: absolute;
  width: 70%;
  left: 50%;
  margin: auto;
  transform: translateX(-50%);
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-input-placeholder {                  /* Apple Safari / Google Chrome browsers */
   font: 20px/50px Raleway, Helvetica, sans-serif;
   text-indent: 20px;
   color: #FFF;
   opacity: 0.80;
   transition: text-indent 0.25s ease-out;
}
input:-moz-placeholder {                            /* Firefox 18- */
  font: 20px/50px Raleway, Helvetica, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}
input::-moz-placeholder {                           /* Firefox 19+ */
  font: 20px/50px Raleway, Helvetica, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}
input:-ms-input-placeholder {                       /* Microsoft (MS) Internet Explorer (IE) */
  font: 20px/50px Raleway, Helvetica, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80; 
}

h2.modalJobTitle {
  text-align: center;
}

i.XButton {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 40px;
  color: #771DE5;
}

i.XButton:hover {
  cursor: pointer;
}
