
html {
  font-size: 10px;
  background-color: #F5F5F5;
}

body {
  position: relative;
  width: 100%;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  color: #000;
  text-decoration: none;
}

hr {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.textEllipsis {
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.intro-logo {
  position: absolute;
  left: 50px;
  color: #FFF;
  font: 4.5vh/6vh 'Oswald', 'Raleway', sans-serif;
}

.intro-logo span {
  color: #7A7A7A;
}

a:hover {
  color: #000;
}

#bckgHero {
  position: relative;
  width: 100%;
  height: 65vh;
  top: 17.5vh;
  background: #E6E6E6 url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png');
  animation: 100s scroll infinite linear;
}

#app {
  position: relative;
  width: 100vw;
  top: 0;
}

#appContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 94vh;
  min-height: 700px;
  top: 6vh;
  margin: 0;
  background: #FFF;
}

/* .appCols {  } */

#jobMain {
  position: relative;
  display: block;
  width: 100%;
  height: 94vh;
  min-height: 700px;
  top: 6vh;
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow: hidden;
}

#jobResultsPane {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 100%;
  min-height: 700px;
  float: left;
  box-sizing: border-box;
  background: #ECECEC;
  overflow: hidden;
  -webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, 0.3);
  box-shadow:         1px 0 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

#jobInfoBody {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  min-height: 700px;
  float: right;
  box-sizing: border-box;
  overflow-y: scroll;
}

#jobsContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 66%;
}
  #jobsContainer:after,
  .overlay:after {
    position: fixed;
    content: '';
    width: 100%;
    height: 15%;
    max-height: 50px;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
    background:      -o-linear-gradient(bottom, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
    background:         linear-gradient(to top, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
  }


div.restaurantContainer .overlayBottomMargin {
  margin-bottom: 17.5px;
}

#jobsContainer b > i {
  margin: auto 6px;
  padding: 0 6px;
  outline: 1px solid #FFF;
  text-indent: 5px;
  text-transform: capitalize;
  font-style: normal;
  font-stretch: semi-expanded;
}

/*
  #chartContainer {
    position: relative;
    display: inline-block;
    width: 40%;
    min-height: 200px;
    float: right;
    background: -webkit-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
    background:      -o-linear-gradient(209deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
    background:         linear-gradient(299deg, rgba(95, 20, 181, 0.75) 15%, rgba(119, 29, 229, 0.66) 34%, rgba(119, 29, 221, 0.3) 82%);
  }
*/

/*
  svg.rd3-chart {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
  }
*/

#jobResultsPane > div:first-child {
  position: relative;
  display: block;
  width: 100%;
  height: 34%;
  box-sizing: border-box;
  /* pointer-events: none; */
}

#GMap_Wrapper {
  position: relative;
  height: 100%;
}

#GMap_Wrapper > div:first-child {
  height: 10%;
  background: #FFF;
}

#GMap_Wrapper > div > button {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  color: #14A4B5;
  font-size: 1.5rem;
  line-height: 1.5rem;
  transition: font-size 0.25s 0.25s ease-in-out;
}
  #GMap_Wrapper > div:first-child:hover button {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }


#GMap_Wrapper > div > button > img {
  height: 50%;
  margin-left: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s 0.25s ease-in,
              opacity 0.25s 0.3s ease-in
}
  #GMap_Wrapper > div:first-child:hover button img {
    visibility: visible;
    opacity: 100;
  }


#mapsContainer {
  position: relative;
  height: 90%;
  width: 100%;
  margin: 0;
}

#mapsContainer + b {
  position: relative;
  display: block;
  width: 100%;
  height: 4%;
}

h4.infoWindow_Header {
  display: inline;
  margin-bottom: 0;
  color: #14A4B5;
  font: 600 14px/16px 'Raleway', 'Helvetica Neue', Arial, sans-serif;
}

#placesContainer h5, 
.restaurantContainer > h5, 
.restaurantContainer > div:first-child {
  display: block;
  width: 100%;
  /* padding: 1rem 0; */
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
  /* background: #E9EBEE; */
}

.restaurantContainer > div:first-child > h5 {
  display: inline;
  padding-left: 25px;
  font-size: 4rem;
  line-height: 5rem;
}

.AmenitiesHeader_Img {
  position: relative;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.restaurantContainer .nameRating h5 {
  width: 100%;
  margin: 0.65rem auto;
  text-align: center;
  font-size: 2rem;
  font-variant: small-caps;                 /* Candidate for possible removal depending on others` stylistic opinions */
}
  h5.textEllipsis.expandFromCenter:first-letter {
    color: #1BA6B7;
    font-weight: 900;
    font-size: 2.15rem;
    letter-spacing: 0.1rem;
  }

h5.infoWindow_Header {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.modalInfoWindow_Pic {
  position: relative;
  width: 100%;
  height: 100%;
  left: 50%;
  margin: 5px auto;
  transform: translateX(-50%);
  overflow-x: hidden;
}

div#overlay {
  position: relative; 
  width: 100%;
  min-height: 500px;              /* <iframe> height */
  top: 500px;                     /* <iframe> height */
  margin-top: -500px;             /* <iframe> height */
  background: transparent; 
  z-index: 10;
}

/* #headSection1 {  } */

#searchForm { 
  position: relative;
  display: inline-block;
  width: 75%;
  height: 100%;
  margin-bottom: 0;
  float: right;
}

div.box {
  position: relative; 
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navLogoText {
  position: absolute;
  left: 50px;
  color: #000;
  font: 4.5vh/6vh 'Raleway', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bannerCont {
  position: fixed;
  width: 100%;
  height: 6vh;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(231deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  background:      -o-linear-gradient(231deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  background:         linear-gradient(321deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow:         0 1px 8px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 4px 13px 1px #ADADAD; */
  z-index: 150;
}

.footerCont {
  position: fixed;
  width: 100%;
  height: 3.75rem;    /* 65px */
  bottom: 0;
  left: 0;
  background: #7A7A7A;
  z-index: 100;
}

#jobsContainer > b {
  position: relative;
  display: block;
  width: 100%;
  height: 3.5rem;
  padding: 4px 0;
  /* font-variant: unicase; */
  text-align: left;
  text-indent: 1.5rem;
  font-size: 1.75rem;
  font-weight: lighter;
  line-height: 3.5rem;
  color: #FFF;
  background: -webkit-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
  background:      -o-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
  background:         linear-gradient(321deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
}

#jobsContainer > div {
  height: 90%;
  overflow-y: overlay;
}

ul.jobsList {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ECECEC;
  overflow-x: hidden;
  overflow-y: overlay;
}

ul.jobsList > div:last-child {
    margin-bottom: 17.5px;
}

ul.jobsList > div.noResultsShown {
  margin-bottom: 0;
}

li.jobLI,
ul.jobsList li {
  position: relative;
  display: list-item;
  width: 100%;
  max-height: 60px;
  margin-bottom: 6px;
  padding: 4px 10px 0 10px;
  list-style-type: none;
  box-sizing: border-box;
  background-color: #ECECEC;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1.0);       /* box-shadow, border-left */
  overflow: hidden;
}

ul.jobsList li:hover,
li.active.jobLI,
ul.jobsList.activeJobLI {
  border-left: 12.5px solid #14A4B5;
  background-color: #F1F1F1;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow:         0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

li.jobLI h2,
h2.jobListingTitle {
  margin: 0 auto;
  max-height: 60px;
  overflow: hidden;
  color: #14A4B5;
  font: 2.4rem/2.6rem 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  letter-spacing: 0.05rem;
}

li.jobLi h6 {
  font: bold 12px/12px Arial, sans-serif;
}

div.jobLI_MetaInfo {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  bottom: -2px;
  margin: 0;
}

.jobLI_MetaInfo h6,
.jobLI_MetaInfo i {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 0;
  float: left;
}

.jobLI_MetaInfo i {
  right: 10px;
  float: right;
  color: #696969;
  text-align: right;
  font-size: 1.1rem;
  line-height: 2rem;
}

button.button-primary {
  width: 10%;
  height: 50px;
  left: 3%;
  margin: 20px auto;
  margin-left: 25px;
  margin-bottom: 1rem;
  padding: 0 4px;
  font: 900 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #771DE5;
  color: #A7A5A5;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow:         none;
  box-sizing: content-box;
  transition: background 0.25s ease-out, 
              color 0.25s ease-out;
}

button.button-primary:focus {
  background-color: #1EAEDB;
}

button.button-primary:hover {
  color: #771DE5;
  background-color: #A7A5A5;
}

/*
  .container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 2000px;
    margin: 0;
    // transform: translateX(12.5%); 
  }
*/

.container { 
  position: relative;
  display: flex;
  width: 100%;
  max-width: 2000px;
  margin: 0;
  padding-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  align-content: space-around;
}

/* 
  .restaurantList.container,
  .trainList.container,
  .busList.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
*/

.container-3 {
  position: relative;
  width: 65%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-3 + button {
  position: relative;
  width: 15%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #FFF;
  transition: all 0.25s ease-in;              /* color, background */
}

.one-third {
  width: 30%;
}

.container-3 + button:hover {
  background: rgba(255, 255, 255, 0.89);
  color: #14A4B5;
  /* -webkit-box-shadow: inset 0 -5px 8px 1px rgba(255, 255, 255, 0.55);
     box-shadow:         inset 0 -5px 8px 1px rgba(255, 255, 255, 0.55); */
}

/*
  .container > .one-third:nth-of-type(3n + 1) {
    margin-left: 2.5%;
  }

  .container > .one-third:nth-of-type(3n + 2) {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .container > .one-third:nth-of-type(3n + 3) {
    margin-right: 2.5%;
  }
*/

#searchInputsBoundary {
  position: relative;
  display: flex;
  width: 100%;
  height: 60%;
  top: 20%;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-transform: capitalize;
}

#searchLocation {
  text-transform: capitalize;
}

.container-3 input.formSearchInpt {
  width: 40%;
  height: 100%;
  max-height: 55px;
  margin: 0;
  background: #7A7A7A;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.35rem;
  border: none;
  -webkit-border-radius: 5px 0 0 5px;
     -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  transition: all 0.25s ease-in;
}

.container-3 input.formSearchInpt:last-child {
  border-left: 0.5px solid #FFF;
  -webkit-border-radius: 0 5px 5px 0;
     -moz-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
  box-sizing: border-box;
}

/* #searchForm:focus .input {} */
#searchInputsBoundary *:focus ~ *, 
#searchInputsBoundary *:focus, 
#searchInputsBoundary * ~ *:focus, 
#searchInputsBoundary *:focus + * {
  /* padding: 30px 0; */
  width: 50%;
  background: #2B303B;
}

.container-3 input:focus::-webkit-input-placeholder {
  font-size: 18px;
}

.container-3 input:focus::-webkit-input-placeholder {
   font-size: 12px;
   text-indent: 75%; 
}

.container-3 span {
  position: absolute;
  left: 26.5%;
  margin: 0 10px;
  line-height: 4.5vh;
  /* font-size: 2.5rem; */
  z-index: 10;
  color: #FFF;
  transition: all 0.25s ease-in;                    /* left, font-size */
}

.container-3 input.formSearchInpt:focus + span.icon {
  position: absolute;
  left: 1.5%;
  margin: 0 14px;
  color: #FFF;
  line-height: 60px;
  font-size: 3rem;
  z-index: 10;
}

div.noResultsShown {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

  div.noResultsShown::before {
    position: absolute;
    width: 125%;
    height: 100%;
    background-image: url('../img/frowny-face.svg');
    background-size: 75% auto;
    right: -35%;
    top: 85%;
    background-repeat: no-repeat;
    content: '';
    transform: translateY(-50%);
  }

h4.noResultsShown {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 25%;
  overflow: hidden;
  left: -5%;
  line-height: 100px;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  transform: translateY(-50%) rotate(-32deg);
}

#searchJob {
  -webkit-appearance: textfield;
  transition: padding 0.25s ease-out;
}

input[type='search'] {
  position: relative;
  display: inline-block;
  width: 50%;
  /* left: 50%; */
  margin: auto;
  /* transform: translateX(-50%); */
  box-sizing: border-box;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Apple Safari / Google Chrome browsers */
input::-webkit-input-placeholder {
   font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
   text-indent: 20px;
   color: #FFF;
   opacity: 0.80;
   transition: text-indent 0.25s ease-out;
}

/* Firefox 18- */
input:-moz-placeholder {
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}

/* Firefox 19+ */
input::-moz-placeholder {
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80;
}

/* Microsoft (MS) Internet Explorer (IE) */
input:-ms-input-placeholder {
  font: 20px/50px 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  text-indent: 20px;
  color: #FFF;
  opacity: 0.80; 
}

h2.modalJobTitle {
  text-align: center;
}

i.XButton {
  position: absolute;
  right: 1.5rem;
  width: 4rem;
  top: 1.5rem;
  height: 30px;
  background: #FFF;
  font-size: 5rem;
  color: #14A4B5;
  line-height: 3rem;
  box-sizing: border-box;
  border-radius: 50%;
}

i.XButton:hover {
  cursor: pointer;
  color: #1196A5;
  transition: all 0.10s ease-out;
}


/* ==========================================================================
   =================== Yelp Restaurant Style Declarations ===================
   ========================================================================== */ 

.restaurantContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 200px;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}

.restaurantContainer > div {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  background: hsl(0, 53%, 52%) url('../img/bckg_hero.png') no-repeat;
  background-blend-mode: color-dodge;
  backface-visibility: initial;
  background-position: 10% 30%;
  background-attachment: scroll;
  background-origin: border-box;
  z-index: 1;
}

.restaurantContainer > div h1 {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0 1.5rem 0 0;
  float: right;
  font: normal 3.75rem/5rem 'Raleway', 'Open Sans', Arial, sans-serif;
  text-align: center;
}

p {
  margin-top: 33.784;
  margin-bottom: 0px;
  margin-top: 33.784;
}

div.yelpPhoto {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 150px;
  left: 50%;
  border: 4px solid #14A4B5;
  box-sizing: border-box;
  transform: translateX(-50%);
  background: -webkit-radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  background:    -moz-radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  background:      -o-radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  background:         radial-gradient(circle, #14a4b5 60%, #FFF 125%);
  /* background: #14A4B5; */
}

.yelpPhoto img {
  position: relative;
  min-width: 100%;
  min-height: 150px;
  max-height: 175px;
  left: 50%;
  /* top: 50%; */
  transform: translateX(-50%);
  /* transform: translate(-50%, -50%); */
}

.yelpPhoto img.fallbackImage {
  width: 100%;
  height: 146px;
}

.restaurantLI, 
.transportationCard, 
.amenitiesCard {
  position: relative;
  display: inline-block;
  min-height: 200px;
  max-height: 400px;
  margin: 1rem auto;
  padding-bottom: 0.75rem;
  background-color: #FFF;
  vertical-align: top;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow:         0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.restaurantLI:hover,
.transportationCard:hover,
.amenitiesCard:hover,
.activeCard {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow:         0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.restaurantLI .nameRating:hover,
.transportationCard .nameRating:hover,
.amenitiesCard .nameRating:hover {
  cursor: pointer;
}

li.restaurantLI > a {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.expandFromCenter:after {
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  content: '';
  margin: auto;
  background: transparent;
  transition: width 0.5s ease, 
              background-color 0.5s ease;
}
  .expandFromCenter:hover:after {
    width: 100%;
    background: #1BA6B7;
  }


.trainList, .busList {
  background-color: #E9EBEE;
}

.transportationContent, 
.amenitiesContent {
  padding-left: 20px;
}

#jobInfoBody > div:first-child {
  padding-left: 20px;
}

.nameRating > h5 {
  text-align: center;
  font-weight: 500;
}

.nameRating > a {
  display: block;
  width: 100%;
  max-height: 225px;
}

#jobInfoBody div.jobInfoBottomBlock {
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  min-height: 500px;
  bottom: 0;
}

.job-detail h3 {
  width: 100%;
  margin: 10px auto;
  font-weight: bolder;
  text-align: center;
}

.job-detail h3 a {
  text-decoration: none;
}

.job-detail blockquote a {
  text-decoration: none;
  color: #222;
}

div.verticallyCenter {
  padding: 0 1.5rem;
}

.yelp-rating, 
.card-body {
  /* margin-left: 14px; */
}

.YelpRestaurantAddress {
  margin-bottom: 5px;
  font-size: 1.25rem;
  line-height: 1.35rem;
}

div.YelpRating_Div {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
  div.YelpRating_Div > img.YelpRatingStars {
    position: relative;
    display: inline-block;
    height: 1.25rem;
    top: 0.375rem;
    float: left;
  }

  div.YelpRating_Div > p.numRestaurantReviews {
    position: relative;
    display: inline-block;
    float: right;
    font-size: 1.25rem;
    line-height: 2rem;
  }


a.YelpPhoneNo {
  color: #222;
  font-family: Courier, monospace, serif;
  word-spacing: -5px;
  font-weight: lighter;
  font-size: 1.35rem;
  /* letter-spacing: 0.1px; */
}

a.YelpPhoneNo > em {
  font-style: normal;
}

.yelpDescription div.blockDistanceContainer {
  display: inline-block;
  height: 1.5rem;
  float: right;
}

.yelpDescription div.distanceBlock {
  position: relative;
  display: inline-block;
  height: 1rem; 
  width: 1rem; 
  margin: 1.25px;
  background: #BEBEBE;
}


/* Fix Chrome browser's default AutoFill yellow background */
/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: inset 0 0 0 1000px #000 inset;
  box-shadow:         inset 0 0 0 1000px #000;
  transition: background-color 5000s 0s ease-in-out;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #FFF !important;
  -webkit-box-shadow: inset 0 0 0 1000px #7A7A7A;
  box-shadow:         inset 0 0 0 1000px #7A7A7A;
}


/* Mimic :hover state for non-obvious links
  .link-state:hover {
    border-bottom: 1px solid #1BA6B7;
  }
*/

.job-detail h3 a {
  color: #696969;
}

.job-detail blockquote a {
  color: #222;
}

.restaurantContainer > div:first-child a:hover > i {
  text-shadow: 0 0 6px #FFF;
}



/* ==========================================================================
   ============== FontAwesome (Class `.fa`) Style Declarations ==============
   ========================================================================== */
.restaurantContainer h5 .fa-yelp {
  color: #000;                      /* #AF0606 */
  font-weight: 900;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.75);
}

.fa-bus {
  color: #00F;
}

.loadingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fa.cardDescriptionGlyph {
  color: #14A4B5;
}


/* ==========================================================================
   ================== React-Tabs Module Style Declarations ==================
   ========================================================================== */
.react-tabs [role='tablist'] {
  margin: 0;
}

.react-tabs [role='tab'] {
  width: 33%;
  padding: 4px 0;
  font-size: 1.85rem;
  line-height: 2.25rem;
  text-align: left;
  text-indent: 1rem;
  background: rgba(220, 220, 220, 0.58);
  border-color: #C8C8C8;                  /* Color: Gainsboro */
  border-radius: 2rem 1rem 0 0;
  /* border-radius: 10px 10px 0 0; */
  box-sizing: border-box;
}

.react-tabs [role='tab'][aria-selected='true'] {
  background-color: #AAA;
  border-color: transparent;
  border-radius: 2rem 1rem 0 0;
}

.ReactTabs__Tab:last-child {
  width: 34%;
}

.react-tabs .fa-yelp {
  color: #CD2122;                         /* Color Variants: #C01D1D; */
}

.react-tabs div.overlay,
.restaurantContainer div.overlay {
  height: 90%;
  margin-bottom: 25px;
  background-color: #E9EBEE;
  overflow-x: hidden;
  overflow-y: overlay;
}

ul.ReactTabs__TabList > li {
  margin-bottom: 0;
  border: 1px solid #000;
}

.ReactModal__Overlay {
  background: rgba(41, 37, 37, 0.59);
  background: rgba(48, 44, 44, 0.74902);
  z-index: 150;
}
