
#jobResultsPane {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 100%;
  min-height: 700px;
  float: left;
  box-sizing: border-box;
  background: #ECECEC;
  overflow: hidden;
  -webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, 0.3);
  box-shadow:         1px 0 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

#jobResultsPane > div:first-child {
  position: relative;
  display: block;
  width: 100%;
  height: 34%;
  box-sizing: border-box;
  /* pointer-events: none; */
}

#jobsContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 66%;
}
  #jobsContainer:after,
  .overlay:after {
    position: fixed;
    content: '';
    width: 100%;
    height: 15%;
    max-height: 50px;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
    background:      -o-linear-gradient(bottom, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
    background:         linear-gradient(to top, rgba(236, 236, 236, 1.0) 20%, rgba(236, 236, 236, 0.75) 35%, rgba(236, 236, 236, 0) 75%);
  }


#jobsContainer strong > i {
  margin: auto 6px;
  padding: 0 6px;
  outline: 1px solid #FFF;
  text-indent: 5px;
  text-transform: capitalize;
  font-style: normal;
  font-stretch: semi-expanded;
}

#jobsContainer > strong {
  position: relative;
  display: block;
  width: 100%;
  height: 3.5rem;
  padding: 4px 0;
  line-height: 3.5rem;
  text-align: left;
  text-indent: 1.5rem;
  font-size: 1.75rem;
  font-weight: lighter;
  /* font-variant: unicase; */
  color: #FFF;
  background: -webkit-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
  background:      -o-linear-gradient(231deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
  background:         linear-gradient(321deg, rgba(20,164,181,1) 15%, rgb(93, 188, 200) 44%, rgb(134, 202, 210) 100%);
}

#jobsContainer > div {
  height: 90%;
  overflow-y: overlay;
}

ul.jobsList {
/*  position: relative;
  width: 100%;
  height: 100%;
  margin: 0; */
  background-color: #ECECEC;
  overflow-x: hidden;
  overflow-y: overlay;
}

ul.jobsList li,
li.jobLI {
  display: list-item;
  max-height: 60px;
  margin-bottom: 6px;
  padding: 4px 10px 0 10px;
  border-bottom: 1px solid #E1E1E1;
  list-style-type: none;
  box-sizing: border-box;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1.0);       /* box-shadow, border-left */
  overflow: hidden;
}

ul.jobsList li:hover,
li.active.jobLI,
ul.jobsList.activeJobLI {
  border-left: 12.5px solid #14A4B5;
  background-color: #F1F1F1;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow:         0 3px 5px 0 rgba(0, 0, 0, 0.3);
                  /*  0 2px 2px 0 rgba(0, 0, 0, 0.2),
                      0 3px 5px 0 rgba(0, 0, 0, 0.3); */
}

li.jobLI h2 {
  margin: 0 auto;
  overflow: hidden;
  color: #14A4B5;
  font: 2.2rem/2.4rem 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  letter-spacing: 0.05rem;
}

li.jobLi h6 {
  font: bold 12px/12px Arial, sans-serif;
}

div.jobLI_MetaInfo {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  bottom: -2px;
  margin: 0;
}

.jobLI_MetaInfo h6,
.jobLI_MetaInfo i {
  display: inline-block;
  position: relative;
  width: 70%;
  margin: 0;
  float: left;
}

.jobLI_MetaInfo i {
  width: 30%;
  right: 1rem;
  float: right;
  color: #696969;
  text-align: right;
  font: lighter italic 1.1rem/2rem 'Raleway', sans-serif;
}


/* ==========================================================================
   ==================== Map Container Style Declarations ====================
   ========================================================================== */

#GMap_Wrapper {
  position: relative;
  height: 100%;
}

#GMap_Wrapper > div:first-child {
  /* height: 10%; */
  height: 30px;
  background: #FFF;
}

#GMap_Wrapper > div > button {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  color: #14A4B5;
  font-size: 1.5rem;
  line-height: 1.5rem;
  transition: font-size 0.25s 0.25s ease-in-out;
}
  #GMap_Wrapper > div:first-child:hover button {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }


#GMap_Wrapper > div > button > img {
  height: 50%;
  margin-left: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s 0.25s ease-in,
              opacity 0.25s 0.3s ease-in
}
  #GMap_Wrapper > div:first-child:hover button img {
    visibility: visible;
    opacity: 100;
  }


#mapsContainer {
  position: relative;
  width: 100%;
  /*width: 400px;*/
  /* height: 90%; */
  height: 275px;
  margin: 0;
}

#mapsContainer + strong {
  position: relative;
  display: block;
  width: 100%;
  height: 4%;
}



/* ==========================================================================
   =================== ? ===================
   ========================================================================== */

div.noResultsShown {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
  div.noResultsShown::before {
    position: absolute;
    content: '';
    width: 125%;
    height: 100%;
    right: -35%;
    top: 85%;
    background-image: url('../img/frowny-face.svg');
    background-size: 75% auto;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }


h4.noResultsShown {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 25%;
  left: -5%;
  line-height: 100px;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  overflow: hidden;
  transform: translateY(-50%) rotate(-32deg);
}
