
/* Sass $variable Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$theme-teal: #14A4B5;
$theme-white: #FFF;
$theme-off-white: #E9EBEE;
$theme-black: #000;
$theme-gray: #7A7A7A;
$theme-gray-lt: #E1E1E1;
$theme-inpt-active: #2B303B;


/* Sass @import Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import './partials/job-detail';    // Styles corresponding to `JobDetail` component
@import './partials/global';        // Base HTML element styles
@import './partials/atomic';        // Atomic classes for ad hoc delegation
@import './partials/utility';       // Generic classes available for inheritance
@import './partials/main';          // Primary styles for specifically targeted elements
@import './partials/keyframes';     // CSS animations defined via the keyframes @-rule
@import './partials/svg';           // Inline-rendered SVG styles
@import './partials/mobile';        // Alternate media (e.g., mobile) styles
