
/* Sass $variable Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$theme-teal: #14A4B5;
$theme-white: #FFF;
$theme-off-white: #E9EBEE;
$theme-black: #000;
$theme-gray: #7A7A7A;
$theme-gray-lt: #E1E1E1;
$theme-trans: transparent;
$theme-inpt-active: #2B303B;


/* Sass @mixin Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin flex($display: flex, $flow: row nowrap, $justify: space-around, $alignItems: center, $alignContent: center) {
  display: $display;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $alignItems;
  align-content: $alignContent;
};


/* Sass %placeholder Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
%inptPlaceholder {
  font: oblique 2.5rem bold Raleway, sans-serif;
  color: rgba(255, 255, 255, 0.65);
};
%show {
  opacity: 1;
  visibility: visible;
};
%hide {
  opacity: 0;
  visibility: hidden;
};
%tealGradient {
  background: -webkit-linear-gradient(231deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  background:      -o-linear-gradient(231deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
  background:         linear-gradient(321deg, rgba(20, 164, 181, 1) 15%, rgb(70, 183, 197) 84%, rgb(92, 192, 204) 160%);
};


/* Sass @import Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import './partials/global';        // Base HTML element styles
@import './partials/atomic';        // Atomic classes for ad hoc delegation
@import './partials/utility';       // Generic classes available for inheritance
@import './partials/main';          // Primary styles for specifically targeted elements
@import './partials/keyframes';     // CSS animations defined via the keyframes @-rule
@import './partials/svg';           // Inline-rendered SVG styles
@import './partials/mobile';        // Alternate media (e.g., mobile) styles
@import './partials/font-awesome';  // FontAwesome stylistic modifications
@import './partials/job-detail';    // Styles corresponding to `JobDetail` component
@import './partials/job-results';   // Styles corresponding to `ResultsPage` component
@import './partials/amenities';     // Tabbed navigation content styles
@import './partials/react-tabs';    // Ported/overwriting styles for React-Tabs module
